.sidebar {
    width: 150px;
    height: 50vh;
    position: fixed;
    background: #f8f9fa;
    padding: 10px;
}
.sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 15px;
}
.sidebar a:hover {
    background: #ddd;
    border-radius: 5px;
}
.submenu {
    padding-left: 20px;
}
